@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,600;0,700;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6F69AC;
    font-family: 'Urbanist', sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 70px;
    padding: 0.3rem;
    transition: 0.3s;
}

.brand {
    padding: 0.5rem;
    color: #fff;
    font-size: 2.5rem;
    transition: 0.3s;
}

.search {
    width: 70%;
    outline: none;
    height: 40px;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem 1rem;
    font-size: larger;
    font-weight: 500;
    border: none;
    border-radius: 0.2rem;
    border: 2px solid #fff;
    transition: 0.3s;
}

.search:hover,
.search:focus {
    border: 2px solid #FD7097;
}

.notes{
    overflow: hidden;
    padding-right: 8px;
}

.notes:hover{
    overflow-y: auto;
    padding-right: 8px;
}

/* width */

.notes::-webkit-scrollbar {
    width: 8px;
}


/* Track */

.notes::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}


/* Handle */

.notes::-webkit-scrollbar-thumb {
    background-color: #9390bd;
    border-radius: 5px;
}


/* Handle on hover */

.notes::-webkit-scrollbar-thumb:hover {
    background-color: #8f8cb8;
}

.notes {
    width: 70%;
    max-height: 50vh;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #374151;
    font-weight: 600;
    font-size: larger;
    overflow: auto;
    transition: 0.3s;
}

.item {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #95DAC1;
    padding: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    transition: 0.3s;
}

.delete {
    cursor: pointer;
    font-weight: 600;
    transition: 0.1s;
    color: #374151;
}

.delete:hover {
    /* color: #F87171; */
    transform: scale(1.3);
}

.edit {
    cursor: pointer;
    font-weight: 600;
    transition: 0.1s;
    color: #374151;
}

.edit:hover {
    /* color: #2563EB; */
    transform: scale(1.3);
}

.copy {
    cursor: pointer;
    font-weight: 600;
    transition: 0.1s;
    color: #374151;
}

.copy:hover {
    /* color: #8B5CF6; */
    transform: scale(1.3);
}

.filtered {
    display: none;
}

.icons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
}

.note-content {
    word-break: break-all;
    padding: 0 0.2rem;
}

.new-note {
    /* position: relative; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    padding-top: 3rem;
    transition: 0.3s;
}

.add-new {
    width: 70%;
    outline: none;
    height: 40px;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem 1rem;
    font-size: larger;
    font-weight: 500;
    border: none;
    border-radius: 0.2rem;
    transition: 0.3s;
    border: 2px solid #fff;
}

.btn-send {
    transition: 0.3s;
    width: 70%;
    outline: none;
    height: 40px;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem 1rem;
    font-size: larger;
    font-weight: 600;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

.btn-send:hover {
    background-color: #E5E7EB;
}
.btn-send:focus {
    background-color: #F3F4F6;
}

.send {
    /* position: absolute;
    top: 5.5rem;
    right: 6.5rem;
    z-index: 1111; */
    cursor: pointer;
    font-weight: 600;
    transition: 0.1s;
    font-size: larger;
}

.send:hover {
    transform: scale(1.3);
}

.label {
    color: #fff;
    font-size: larger;
    font-weight: 600;
}

.add-new:hover,
.add-new:focus {
    border: 2px solid #FD7097;
}

@media only screen and (max-width: 500px) {
    .item {
        width: 100%;
    }
    .search,
    .notes,
    .add-new, .btn-send {
        width: 90%;
    }
    .brand {
        font-size: 2rem;
    }
    .logo {
        width: 60px;
    }
}

@media only screen and (max-width: 300px) {
    .brand {
        font-size: 1.5rem;
    }
    .logo {
        width: 50px;
    }
}